.vscode

# Auth server
auth/node_modules

# Client
client/node_modules
client/.next

# Common code
common/node_modules

# Tickets server
tickets/node_modules

# NATS test
nats-test/node_modules

# Orders server
orders/node_modules

# Concr test server
concr-test/node_modules

# Expiration server
expiration/node_modules

# Payments server
payments/node_modules